.popup__submit {
  color: white;
  margin-bottom: 25px;
  padding: 0;
  border: none;
  width: 238px;
  height: 46px;
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.popup__submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

.popup__submit:disabled {
  opacity: 0.2;
  background: white;
  color:black;
  border: 1px solid #000000;
  border-radius: 2px;
}

@media screen and (min-width: 619px) {
  .popup__submit {
    margin-bottom: 37px;
    min-width: 358px;
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}