.gallary__like {
  border: 0;
  background-color: transparent;
  padding: 0;
  background-image: url(../../../images/like.svg);
  min-width: 22px;
  min-height: 19px;
}

.gallary__like:hover {
  opacity: 0.5;
  cursor: pointer;
}
