.footer__copyright {
  margin: 0;
  padding: 0;
  /* font */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
}

@media screen and (min-width:880px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 22px;
  }
}