.popup__form-input-error {
  /* text-align:start; */
  /* visibility: hidden; */
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  min-height: 30px;
  /* min-width: 330px; */
  /* position: absolute; */
  /* top: 30px; */

}