.profile__add-button {
  margin: 0;
  background-color: transparent;
  padding: 0;
  color: black;
  border: none;
  background-image: url(../../../images/AddButton.svg);
  min-width: 282px;
  min-height: 50px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 880px) {
  .profile__add-button {
    margin-left: auto;
    background-image: url(../../../images/smallAddButton.svg);
    min-width: 150px;
    background-repeat: no-repeat;
  }
}