.page {
  margin: auto;
  max-width: 320px;
  background-color: #000000;
  /* Шрифты */
  font-family: 'Inter', ‘Arial’, sans-serif;
  color: white;
}

@media screen and (min-width: 321px) {
.page {
    max-width: 690px;
  }
}

@media screen and (min-width: 880px) {
.page {
    max-width: 880px;
  }
}